@charset "utf-8";

.card3{ margin-top:30px;}

/* form */
.buttons{ margin:-4px -2px}
.buttons .bx-tb>*{padding:2px}
.form-control:not(.daterange){
  height: 40px;
  padding: 10px 16px;
  font-size: 16px;
	line-height: 1.333333
}
select.form-control {
  line-height: 40px;
}
.form-control-static {
  height: 40px;
  padding: 11px 16px;
  font-size: 16px;
	line-height: 1.333333
}
.form-horizontal .control-label{
    padding-top:8px;
    font-size: 16px;
}

/* Grid */
.w1600{max-width:1560px;margin:0 auto}
.w1200{max-width:1260px;margin:0 auto; padding: 0 30px}
.w1000{max-width:1000px;margin:0 auto}

.container-mypage .bx-tb{ width:auto}
.container-mypage .bx-tb>.btn{width: 100px}

/* nav */
.nav-fixed .nav>li>a{ display:inline-block;padding:15px 0 13px;font-size: 16px}
.sub-top+.nav-fixed{ margin-top:-30px}

/* srch-filter */
.srch-filter>li+li:before{ content:''; display:block; position:absolute;top:0;bottom:0;left:0;border-left:1px solid #E3E3E3}
.srch-filter-btn i{ margin-right:6px}
.srch-filter-2{ overflow:auto; height:300px}
.srch-filter-container .swiper-wrapper{ width:auto !important; transform:none !important}
.srch-filter-container .swiper-slide{ float: left; width: 25%}
.srch-filter-container .srch-filter-col3 .swiper-slide{ width: 33.33333333%}

/* layout */
.container-mypage{min-height:calc(100vh - 64px); padding-bottom:96px}
.container-infopage{ min-height: 960px; padding-bottom: 30px}
#ft h2{ float: left}

/* mypage */
.page-sidebar{ position:absolute; width: 280px;background: #fff; box-shadow: 0 1px 2px rgba(0,0,0,.2)}
.side-scroll .page-sidebar{ position: fixed;top:96px}
.side-scroll .sidebar-hd{ display: none}
.page-content{margin:0 0 0 310px;}
.sub-top{ position: relative;z-index:10; margin-bottom:30px; background: #fff; box-shadow: 0 1px 2px rgba(0,0,0,.2)}
.sub-top h1{ padding:30px; font-weight:700; font-size: 24px}
.nav-sidebar a{ display: block; padding:15px}
.nav-sidebar .active>a{color:#e4122b}
.nav-sidebar .active>a:after{ content: '\e60d'; float: right;font-family:xeicon;}
.nav-sidebar>li{ position: relative;border-top:1px solid #ddd}
.nav-sidebar>li>a{ font-size: 15px;}
.nav-sidebar>li>a i{ margin-right:12px}
.nav-sidebar ul{ display: none}
.nav-sidebar .active ul{ display: block; padding-bottom:12px;}
.nav-sidebar .nav a{ padding-left:40px;}

.btm-fixed{ position: fixed;bottom:0;left:0;right:0;background: #fff;box-shadow: 0 0 2px rgba(0,0,0,.2);}
.btnarea{ max-width:1200px; margin:0 auto; padding:10px;  text-align: center}
.btnarea>div{ display: inline-block; width: 200px;}
.btnarea>div+div{ margin-left:6px}

#join{ margin: 100px auto}
#join .card3{ height: 400px; margin: 0; background: #fff}